<mat-grid-list cols="12" rowHeight="200px" dir="rtl" class="contact" (window:resize)="onResize()">
    <mat-grid-tile [colspan]="mybreakpoint">
        <div class="col">
            <div class="title">ارتباط با ما</div>
            اگر سوال و یا نظری دارید میتوانید با ایمیل support@web-shot.ir در ارتباط باشد.<br />
            به فاصله ی یک روز کاری پاسختان را خواهیم داد.
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="mybreakpoint">
        <div class="col">
            <div>راه های ارتباطی</div>
            <mat-grid-list cols="12" rowHeight="50px" dir="rtl">
                <mat-grid-tile colspan="3"><div>ایمیل:</div></mat-grid-tile>
                <mat-grid-tile colspan="9">
                    <div>support@web-shot.ir</div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="12" rowHeight="50px" dir="rtl">
                <mat-grid-tile colspan="3"><div>تلفن:</div></mat-grid-tile>
                <mat-grid-tile colspan="9"><div>031-34420301</div></mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>