.contact {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: start;
    div {
        line-height: 35px;
    }

    .title {
        font-weight: 900;
        font-size: 19px;
    }

    .col {
        width: 80%;
        align-content: start;
    }
}