.footer {
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 75px;
    .link {
        margin-right: 25px;
        text-decoration: none;
        color: black;
    }

    .footer-sen {
        margin-top: 15px;
        margin-bottom: 15px;
        color: #707981;
    }
    @media(max-width:450px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}