<div class="footer">
    <mat-grid-list cols="12" rowHeight="150px" dir="rtl">
        <mat-grid-tile colspan="6">
            <img src="../../../assets/pics/logo.png" />
        </mat-grid-tile>
        <mat-grid-tile colspan="6">
            <a class="link" routerLink="/">مستندات</a>
            <a class="link" routerLink="/">گالری</a>
            <a class="link" routerLink="/">تماس با ما</a>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="line"></div>
    <div class="footer-sen">&copy; کلیه ی حقوق مادی و معنوی این سایت محفوظ می باشد.</div>
</div>