.gallery{
    margin-left: 150px;
    margin-right: 150px;
    .gallery-title{
        color: #6c757d;
        font-weight: 900;
        font-size: 35px;
        margin: 60px auto 20px auto;
    }
    .gallery-content {
        color: #7c848b;
    }
    .page-img{
        margin: 20px 20px 30px 20px;
    }
}