.slider {
    text-align: center;
    background-color: #ecf0f1;
    border-top: 1px solid #dad9d9;
    min-height: 350px;
    padding-bottom: 60px;

    .title {
        font-weight: 900;
        font-size: 35px;
        padding-bottom: 10px;
        margin-top: 60px
    }

    .subTitle {
        color: #6e7880;
        font-weight: 900;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .input {
        width: 35%;
        height: 35px;
        border-radius: 0px 5px 5px 0px;
        box-shadow: none;
        border: 1px solid #007bff;
        border-left: none;
        padding-left: 20px;
        padding-right: 20px;
        color: #555b62;
        font-size: 16px;
        margin-bottom: 40px;
    }

    .btn {
        padding: 5px;
        height: 39px;
        background-color: #007bff;
        border: #007bff;
        border-radius: 5px 0px 0px 5px;
        padding: 10px;
        color: white;
        font-family: IRANSans;
    }

    .start-btn {
        background-color: #007bff;
        border: #007bff;
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
        color: white;
        font-family: IRANSans;
    }
    .page-img{
        margin: 20px 20px 30px 20px;
    }
}

.home-content {
    .title-of-content {
        margin-top: 60px;
        margin-bottom: 10px;
        color: #6c757d;
        font-size: 22px;
        font-weight: 800;
    }

    .content {
        color: #7c848b;
        margin-bottom: 25px;
    }

    .code-background {
        background-color: #ecf0f1;
        border: 1px solid #dad9d9;
        margin: 20px 150px;
        padding: 10px;
        color: #7b8a8b;
    }

    .link {
        color: #007bff;
        text-decoration: none;
    }
}